<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />    
		<style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <title>{% block title %}My amazing site{% endblock %}</title>
		<!-- bootstrap -->
		<script src="/js/jquery-latest.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		{% block head %}
		{% endblock %}
</head>

<body>
	<div class="container-fluid">
		<div class="row-fluid">
			<h2>CDISC SHARE Content Template Checker</h2>
		</div>
		{% if errors %}
		<div class="row-fluid">
			<div class="span12">
				{% for error in errors %}
				<div class="alert">
					<a class="close" data-dismiss="alert">×</a>
					{{ error }}
				</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}
		<div class="row-fluid">
			<div id="sidebar" class="span2">
    		{% block sidebar %}
        <ul>
          <li>Content</li>
          <ul>
	      	 <li><a href="/content/checker/"><small>Content Checker</small></a></li>
	      	 <li><a href="/content/checker/findings/"><small>Findings</small></a></li>
	      	 <li><a href="/content/checker/rules/"><small>List of Rules in Use</small></a></li>
	     		</ul>
          <li>Terminology</li>
          <ul>
	      	 <li><a href="/terminology/codes/"><small>Controlled Terminology</small></a></li>
	      	 <ul>
             <li><a href="/terminology/codes/?filter=bridg"><small>BRIDG</small></a></li>
             <li><a href="/terminology/codes/?filter=var"><small>Variables</small></a></li>
             <li><a href="/terminology/codes/?filter=todo"><small>To code</small></a></li>
             <li><a href="/terminology/codes/?filter=na"><small>Not codeable</small></a></li>
           </ul>
           <li><a href="/terminology/upload/"><small>Upload new Controlled Terminology</small></a></li>
	     		</ul>
          
        </ul>
          <p>Currently logged in.</p>
					<p><a href="{{ logout_url }}">Logout</a></p>
    		{% endblock %}
    	</div>

    	<div class="span10" id="content">
      		{% block content %}{% endblock %}
    	</div>
		</div>
	</div>
</body>
</html>