{% extends "base.html" %}

{% block title %}Consistency Check for {{ checklog.sheet }}{% endblock %}

{% block content %}
<div class="span12">
	<p>Downloadable: 
		<a href="/checker/error/{{checklog.key().id()}}?format=csv">CSV</a>
		<a href="/checker/error/{{checklog.key().id()}}?format=json">JSON</a>
	</p>
</div>
<div class="span12">
	<table class="table-striped">
		<thead>
			<tr>
				<th>Sheet</th>
				<th>Field</th>
				<th>Column</th>
				<th>Issue</th>
				<th>Category</th>
			</tr>
		</thead>
		<tbody>
		{% for issue in checklog.findings|sort %}
			<tr>
				<td>{{ issue.tab }}</td>
				<td>{{ issue.field }}</td>
				<td>{{ issue.column }}</td>
				<td>{{ issue.message|escape }}</td>
				<td>{{ issue.category }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}

